body {
  background-color: #eaf6f6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h3 {
  color: #66bfbf;
}
h1 {
  color: #66bfbf;
}
.circullar{
   border-radius: 100%;
}
.hobbies :hover{
 color:black;
  background-color: #66bfbf;
  cursor: pointer;
}

.contact :hover{
  color:black;
  background-color: #66bfbf;
  cursor: pointer;
}

.submit:hover{
  color: black;
  background-color:#66bfbf;
  cursor: pointer;
}
